{% extends "core/base.html" %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'core/css/update_service_s.css' %}" />

<div class="service-container">
  <h2 class="form-title">Update Service</h2>

  <!-- SUCCESS MESSAGE -->
  {% if messages %} {% for message in messages %}
  <div class="alert-success">{{ message }}</div>
  {% endfor %} {% endif %}

  <!-- FORM -->
  <form method="POST">
    {% csrf_token %}

    <div class="form-fields">{{ form.as_p }}</div>

    <div class="form-buttons">
      <button type="submit" class="btn save-btn">Update Service</button>

      <a href="{% url 'ser_list' %}" class="btn back-btn"> Back </a>
    </div>
  </form>
</div>

{% endblock %}
