{% extends 'core/base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'core/css/category.css' %}" />

<div class="container">
  <h2 class="title">Categories</h2>
  <div class="btn-group-center">
    <a href="{% url 'add_category' %}" class="btn add"
      ><b><i class="fa fa-plus-circle"></i> Add Category</b></a
    >
    <a href="{% url 'manage_prod' %}" class="btn back"><b>⬅ Back</b></a>
  </div>

  <table class="category-table">
    <tr>
      <th>Name</th>
      <th>Created At</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    {% for cat in categories %}
    <tr>
      <td>{{ cat.ct_name }}</td>
      <td>{{ cat.created_at }}</td>
      <td>{{cat.status}}</td>
      <td class="actions">
        <a href="{% url 'update_cat' cat.pk %}" class="btn1 btn-edit">Edit</a>
        <a href="{% url 'delete_cat' cat.pk %}" class="btn1 btn-delete"
          >Delete</a
        >
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5" class="no-data">No categories found.</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
