{% extends "core/home_base.html" %} {% load static %} {% block title %}Services{% endblock %} {% block content %}

<link rel="stylesheet" href="{% static 'core/css/home_service.css' %}" />

<section class="services-section">
  <h1>Our Services</h1>

  <section class="services-section">
    <div class="services-grid">
      <div class="service-card">
        <img src="{% static 'image/tv.jpg' %}" alt="TV Service" />
        <p>TV INSTALLATION</p>
        <a href="{% url 'book_service' %}?service=tv" class="btn">Book Now</a>
      </div>

      <div class="service-card">
        <img src="{% static 'image/cctv-services.jpg' %}" alt="CCTV Service" />
        <p>CCTV INSTALLATION</p>
        <a href="{% url 'book_service' %}" class="btn">Book Now</a>
      </div>

      <div class="service-card">
        <img src="{% static 'image/dishtv.jpg' %}" alt="Dish Service" />
        <p>DISH INSTALLATION</p>
        <a href="{% url 'book_service' %}" class="btn">Book Now</a>
      </div>

      <div class="service-card">
        <img src="{% static 'image/wifi.jpg' %}" alt="WiFi Service" />
        <p>WIFI INSTALLATION</p>
        <a href="{% url 'book_service' %}" class="btn">Book Now</a>
      </div>
    </div>
  </section>
</section>

{% endblock %}
